@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$base_color: rgba(255, 255, 255, 1);
$base_color2: rgb(96, 96, 253);
$text_color: rgba(0, 0, 0, 1);

$font_weight: 100;

@mixin playFair {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    @include roboto();
}

.TK-A1 {
    padding: 2rem;

    .TK-B1 {

        .TK-C1 {
            width: 10rem;
            height: 3rem;

            button {
                width: 100%;
                height: 80%;
                background-color: $base_color2;
                border: 0;
                color: $base_color;
                font-size: 1rem;
                border-radius: 5px;
            }

            button:hover {
                cursor: pointer;
                background-color: darken($base_color2, 10%);
            }
        }

        .TK-C2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            flex-wrap: nowrap;
            border: 1px solid rgb(55, 55, 55, .1);
            padding: 1rem;
            box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);

            .TK-D1 {
                width: 30rem;
                height: 3rem;
                text-wrap: nowrap;

                label {
                    font-weight: 600;
                    padding-right: .5rem;
                }

                input {
                    width: 100%;
                    height: 60%;
                    border-radius: 10px;
                }
            }

            .TK-D2 {
                height: 3rem;
                text-wrap: nowrap;

                label {
                    font-weight: 600;
                    padding-right: .5rem;
                }

                select {
                    width: auto;
                    height: 60%;
                    border-radius: 10px;
                }
            }
        }

        .TK-C3 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            text-align: left;
            margin-top: 2rem;

            .column {
                border: 1px solid rgb(81, 81, 81, .2);
                padding: 1rem;
                box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.3);

                .column-title {
                    font-weight: 600;
                    margin-bottom: 1rem;
                    background-color: $base_color2;
                    padding-left: 1rem;
                    color: white;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                }

                .task-item {
                    @include roboto();
                    border: 1px solid #ddd;
                    padding: 1rem;
                    border-radius: 5px;
                    margin-bottom: 1rem;
                    background-color: #c6e5ff;
                    text-align: left;
                    border: 1px solid black;

                    h4 {
                        margin: 0 0 0.5rem;
                    }

                    p {
                        margin: 0 0 1rem;
                    }

                    .task-actions {
                        display: flex;
                        justify-content: end;
                        gap: 1rem;

                        button {
                            background-color: $base_color2;
                            color: $base_color;
                            border: none;
                            padding: 0.5rem 1rem;
                            border-radius: 5px;
                            width: 4rem;
                            transition: width 0.7s ease;

                            &:hover {
                                cursor: pointer;
                                width: 5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1150px) and (min-width: 799px) {
    .TK-A1 {
        padding: 1rem;
    
        .TK-B1 {
    
            .TK-C2 {
                display: flex;
                align-items: start;
                margin-top: 1rem;
    
                .TK-D1 {
                    width: 20rem;
    
                    input {
                        width: 70%;
                    }
                }
            }
    
            .TK-C3 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                text-align: left;
                margin-top: 2rem;

                .TK-D1 {
                    width: 20rem;
    
                    input {
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 379px) and (max-width: 799px) {
    .TK-A1 {
    
        .TK-B1 {
    
            .TK-C2 {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
    
            .TK-C2 {
                display: flex;
                flex-direction: column;

                .TK-D1 {
                    width: 20rem;
    
                    input {
                        width: 70%;
                    }
                }
            }

            .TK-C3 {
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                text-align: left;
                margin-top: 2rem;

                .TK-D1 {
                    width: 20rem;
    
                    input {
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 379px) {
    .TK-A1 {
        padding: 1rem;
    
        .TK-B1 {
    
            .TK-C2 {
                display: flex;
                flex-direction: column;
                align-items: start;
    
                .TK-D1 {
                    width: 15rem;
    
                    input {
                        width: 60%;
                    }
                }
            }

            .TK-C3 {
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                text-align: left;
                margin-top: 2rem;

                .TK-D1 {
                    width: 20rem;
    
                    input {
                        width: 70%;
                    }
                }
            }
        }
    }
}